*.mp4 diff=lfs merge=lfs -text
*.fbx diff=lfs merge=lfs -text
*.blend diff=lfs merge=lfs -text
*.obj diff=lfs merge=lfs -text
*.jpg diff=lfs merge=lfs -text
*.png diff=lfs merge=lfs -text
*.gif diff=lfs merge=lfs -text
*.mp3 diff=lfs merge=lfs -text
. !text !filter !merge !diff
